{% extends '@layout/layout-index.html.twig' %}
{% block title %}Content Element{% endblock %}

{% block card %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-right">
            <h3 class="card-title">Custom Content Element Liste</h3>
            <a href="{{ path("content_elements_new") }}" class="btn btn-outline-dark  ml-auto">
                <i class="fa fa-plus"></i>
                CE generieren
            </a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% include 'Block/Flash/_flash_message.html.twig'  %}

            <table id="table" class="table">
                <thead>
                <tr>
                    <th>Element-Key</th>
                    <th>Element-Titel</th>
                    <th>Beschreibung</th>
                    <th>Erstellt</th>
                    <th>Benutzer</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for content_element in content_elements %}
                    <tr>
                        <td>{{ content_element.elementKey }}</td>
                        <td>{{ content_element.elementTitle }}</td>
                        <td>{{ content_element.description }}</td>
                        <td>{{ content_element.created ? content_element.created|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ content_element.user.email }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-flat">Aktionen</button>
                                <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    {{ include('Dashboard/Content Elements/Custom/_delete_form.html.twig') }}
                                    <a class="dropdown-item" href="{{ path('content_elements_edit', {'id': content_element.id}) }}">Bearbeiten</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">keine Datensätze gefunden</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

