{{ form_start(form) }}
<div class="card-body">
    {{ form_row(form._token) }}
    {% include 'Block/Flash/_flash_message.html.twig'  %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">General</h3>
                </div>
                <div class="card-body">
                    <div class="form-group" >
                        <label for="elementKey">{{ form_label(form.title) }}  <span class="text-danger">*</span> </label>
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <label for="elementTitle">{{ form_label(form.extensionKey) }}  <span class="text-danger">*</span> </label>
                        {{ form_widget(form.extensionKey, { 'attr': {'class': 'form-control '} }) }}
                    </div>
                    <div class="form-group">
                        <label for="elementTitle">{{ form_label(form.description) }}  <span class="text-danger">*</span> </label>
                        {{ form_widget(form.description, { 'attr': {'class': 'form-control '} }) }}
                    </div>
                    <div class="form-group">
                        <label for="elementTitle">{{ form_label(form.link) }}  <span class="text-danger">*</span> </label>
                        {{ form_widget(form.link, { 'attr': {'class': 'form-control '} }) }}
                    </div>
                    <div class="form-group">
                        <label for="extensionZip">{{ form_label(form.extensionZip) }}  <span class="text-danger">*</span> </label>
                        <div class="input-group">
                            <div class="custom-file">
                                {{ form_widget(form.extensionZip, { 'attr': {'id': 'extensionZip'} }) }}
                                <label class="custom-file-label" for="extensionZip">Choose file</label>
                            </div>
                        </div>
                        {% if edit is defined and edit == 1 %}
                         <small id="extensionZip" class="form-text text-muted">durch Hochladen der Erweiterung wird die alte Erweiterung aus der Datenbank und aus dem Upload-Ordner entfernt</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">Typo3 Version (https://get.typo3.org/v1/api/major)<span class="text-danger">*</span> </h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        {% if apiVersionFailed == false %}
                            {% for data in typo3Version|slice(0, 3) %}
                                <div class="form-check">
                                    <input class="form-check-input" value="{{ data.title }}" id="tbs_extension_typo3Version" type="checkbox" name="versions[]"  {% if data.title in tbs_extension.typo3Version  %} checked {% endif %}>
                                    <label class="form-check-label">
                                        <dl class="row">
                                            <dt class="col-sm-4">Version</dt>
                                            <dd class="col-sm-8">{{ data.version }}</dd>
                                            <dt class="col-sm-4">Title</dt>
                                            <dd class="col-sm-8">
                                                {% if 'LTS' in data.title %}
                                                    <button class="btn btn-success btn-sm mr-2" disabled="" >{{ data.title }}</button>
                                                {% else %}
                                                    {{ data.title }}
                                                {% endif %}
                                            </dd>
                                            <dt class="col-sm-4">Subtitle</dt>
                                            <dd class="col-sm-8">{{ data.subtitle }}</dd>
                                        </dl>
                                    </label>
                                </div>
                                {% if loop.last != true %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-dark" ><i class="fa fa-save"></i> <i class="fa fa-list"></i> Speichern</button>
</div>
{{ form_end(form, {'render_rest': false}) }}

