{% extends '@security/core.html.twig' %}

{% block title %}
    {{ "title.reset" | trans({}, 'metadata') }}
{% endblock %}

{% block body %}
    <!-- /.login-box -->
    <div class="hold-transition login-page">
        <div class="login-box">
            {% if not resetForm.vars.valid %}
                {# Loop through every form item #}
                {% for child in resetForm.children %}
                    {# Display the errors of the form item #}
                    {%for error in child.vars.errors %}
                        {% set already = 'true' %}
                        <div class="alert alert-danger">
                            {{error.message}}
                        </div>
                    {%endfor%}
                    {%for repeated in child %}
                        {%for error in repeated.vars.errors %}
                            <div class="alert alert-danger">
                                {{error.message}}
                            </div>
                        {%endfor%}
                    {%endfor%}
                {%endfor%}
            {%endif%}
            <div class="card card-outline card-dark">
                {% include '@security/_logo.html.twig' %}
                <div class="card-body">
                    <p class="login-box-msg">{{"backend.reset.intro_2"|trans }}</p>
                    {{ form_start(resetForm) }}
                    <div class="input-group mb-3">
                            {{ form_widget(resetForm.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form_widget(resetForm.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-dark btn-block">{{"backend.reset.button_reset"|trans }}</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    {{ form_end(resetForm) }}
                    <p class="mt-3 mb-1">
                        <a href="{{ path('app_login')}}">{{"backend.login.sign_in"|trans }}</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    </div>


{% endblock %}

