{% extends 'base.html.twig' %}

{% block title %}SitePackage index{% endblock %}

{% block body %}
    <h1>SitePackage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Typo3Version</th>
                <th>BasePackage</th>
                <th>Title</th>
                <th>Description</th>
                <th>RepositoryUrl</th>
                <th>Author</th>
                <th>AuthorEmail</th>
                <th>AuthorCompany</th>
                <th>AuthorHomePage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site_package in site_packages %}
            <tr>
                <td>{{ site_package.id }}</td>
                <td>{{ site_package.typo3Version }}</td>
                <td>{{ site_package.basePackage }}</td>
                <td>{{ site_package.title }}</td>
                <td>{{ site_package.description }}</td>
                <td>{{ site_package.repositoryUrl }}</td>
                <td>{{ site_package.author }}</td>
                <td>{{ site_package.authorEmail }}</td>
                <td>{{ site_package.authorCompany }}</td>
                <td>{{ site_package.authorHomePage }}</td>
                <td>
                    <a href="{{ path('site_package_show', {'id': site_package.id}) }}">show</a>
                    <a href="{{ path('site_package_edit', {'id': site_package.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('site_package_new') }}">Create new</a>
{% endblock %}
