{% set route_name = app.request.attributes.get('_route') %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    {% include 'Partial/Sidebar/_brand.htmk.twig' %}

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- SidebarSearch Form -->
        <div class="form-inline mt-2">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Suche" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{{ path('dashboard')}}" {% if route_name == "dashboard" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>



                <li class="nav-item">
                    <a href="{{ path('client_index')}}" {% if route_name == "client_index" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                        <i class="nav-icon fas fa-users"></i>
                        <p>Kunden</p>
                    </a>
                </li>
                <li  {% if route_name == "site_package_index" or route_name == "site_package_new" %} class="nav-item menu-open" {% else %} class="nav-item" {% endif %}>
                    <a href="#" {% if route_name == "site_package_index" or route_name == "site_package_new" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>
                            Typo3 Projekt
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Projekt generieren</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('site_package_index') }}" {% if route_name == "site_package_index" or route_name == "site_package_new"%} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                                <i class="nav-icon far fa-circle "></i>
                                <p>Sitepackage</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">TBS CE & Plugins</li>
                <li  {% if route_name == "content_elements_index" or route_name == "content_elements_new" %} class="nav-item menu-open" {% else %} class="nav-item" {% endif %}>
                    <a href="#" {% if route_name == "content_elements_index" or route_name == "content_elements_new" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                    <i class="nav-icon fas fa-photo-video"></i>
                        <p>
                            Typo3 Module
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                             <a href="{{ path('content_elements_index') }}" {% if route_name == "content_elements_index"  %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                                <i class="nav-icon far fa-circle nav-icon"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('content_elements_new') }}" {% if route_name == "content_elements_new"  %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                                <i class="nav-icon far fa-circle nav-icon"></i>
                                <p>Neu anlegen</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle nav-icon"></i>
                                <p>Export Extension</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-puzzle-piece"></i>
                        <p>
                            Typo3 Plugins
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle nav-icon"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-circle nav-icon"></i>
                                <p>Neu anlegen</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Typo3 Extensions
                        </p>
                    </a>
                </li>

                <li class="nav-header">VCS</li>

                <li  {% if route_name == "gitlab_users"  or route_name == "gitlab_project" %} class="nav-item menu-open" {% else %} class="nav-item" {% endif %}>
                    <a href="#" {% if route_name == "gitlab_users" or route_name == "gitlab_project" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                        <i class="nav-icon fab fa-gitlab"></i>
                        <p>
                            Gitlab
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path("gitlab_users") }}" {% if route_name == "gitlab_users" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                                <i class="nav-icon far fa-circle"></i>
                                <p>Benutzer</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path("gitlab_project") }}" {% if route_name == "gitlab_project" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                                <i class="nav-icon far fa-circle "></i>
                                <p>Projekte</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" class="nav-link" >
                                <i class="nav-icon far fa-circle "></i>
                                <p>Pupline CI/CD</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-header">Snippet</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-file-code"></i>
                        <p>Backend</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-code"></i>
                        <p>Frontend</p>
                    </a>
                </li>
                <li class="nav-header">System</li>
                <li class="nav-item">
                    <a href="{{ path('jmose_command_scheduler_list') }}" {% if route_name == "jmose_command_scheduler_list" %} class="nav-link active" {% else %} class="nav-link" {% endif %}>
                        <i class="nav-icon fas fa-business-time"></i>
                        <p>Scheduler</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
