{% extends '@layout/layout-index.html.twig' %}
{% block title %}Revision Module{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/module/tbs-content-element-test.js') }}" ></script>
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}" ></script>
{% endblock %}
{% block card %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-right">
            <h3 class="card-title">Revision Module Liste</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="table" class="table">
                <thead>
                <tr>
                    <th>Module-Key</th>
                    <th>Module-Name</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Aktion</th>

                </tr>
                </thead>
                <tbody>
                {% for tbs_module in tbs_modules %}
                    <tr>
                        <td>{{ tbs_module.moduleKey }}</td>
                        <td>{{ tbs_module.title }}</td>
                        <td>{{ tbs_module.author.email }}</td>
                        <td class="project-state">
                            {% if tbs_module.status == 0 %}
                                <span class="badge badge-danger" id="spanFalse">Noch nicht gepr체ft</span>
                            {% else %}
                                <span class="badge badge-success" id="spanTrue">Gepr체ft</span>
                            {% endif %}
                        </td>

                        {% if  app.user is defined %}
                            {% if app.user.username == tbs_module.author.email %}
                                <td>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="toggle-status-{{ tbs_module.id }}" data-url="{{ path('tbs_module_change_status') }}" value="{{ tbs_module.id }}" data-id="{{ tbs_module.id }}"  {% if tbs_module.status %}checked{% endif %}>
                                            <label class="custom-control-label" for="toggle-status-{{ tbs_module.id }}">Freigeben</label>
                                        </div>
                                    </div>
                                </td>
                            {% else %}
                            <td>
                                <small class="text-info">Nur der Autor kann den Status 채ndern</small>
                            </td>
                            {% endif %}
                        {% endif %}

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">keine Datens채tze gefunden</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

