{% extends 'base.html.twig' %}
{% block title %}Neuer CE{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('plugins/bootstrap-iconpicker/dist/css/bootstrap-iconpicker.css') }}"></script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/bootstrap-iconpicker/dist/js/bootstrap-iconpicker.bundle.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery-ui/jquery-ui.js') }}" ></script>
    <script src="{{ asset('plugins/form-builder/form-builder.min.js') }}" ></script>
    <script src="{{ asset('dist/js/module/content-element.js') }}" ></script>
    <script src="{{ asset('plugins/jquery-validation/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery-validation/additional-methods.min.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% include 'Partial/Breadcrumb/_breadcrumb.htnl.twig' with {'breadcrumb': 'CE'} %}
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="card">
                    <div class="card-header  d-flex justify-content-between align-items-right">
                        <h3 class="card-title">CE Bearbeiten</h3>
                        <a href="{{ path('content_elements_index') }}" class="btn btn-outline-dark  ml-auto">
                            Abbrechen
                        </a>
                    </div>
                    <!-- /.card-header -->
                    {{ include('Dashboard/Content Elements/_form.html.twig') }}
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
