{% extends 'base.html.twig' %}

{% block title %}Neuer CE{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-iconpicker-3.0.0/dist/css/fontawesome-iconpicker.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/jquery-ui/jquery-ui.js') }}" ></script>
    <script src="{{ asset('plugins/form-builder/form-builder.min.js') }}" ></script>
    <script src="{{ asset('plugins/fontawesome-iconpicker-3.0.0/dist/js/fontawesome-iconpicker.js') }}" ></script>
    <script>
        jQuery(function($) {
            $('#fb-editor').formBuilder();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        {% include 'Partial/Breadcrumb/_breadcrumb.htnl.twig' with {'breadcrumb': 'Content Element'} %}
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header  d-flex justify-content-between align-items-right">
                        <h3 class="card-title">Neuen CE</h3>
                        <a href="{{ path('content_elements_index') }}" class="btn btn-outline-dark  ml-auto">
                            Abbrechen
                        </a>
                    </div>
                    {{ include('Dashboard/Content Elements/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
