{% extends 'base.html.twig' %}

{% block title %}ContentElements{% endblock %}

{% block body %}
    <h1>ContentElements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ElementKey</th>
                <td>{{ content_element.elementKey }}</td>
            </tr>
            <tr>
                <th>ElementTitle</th>
                <td>{{ content_element.elementTitle }}</td>
            </tr>
            <tr>
                <th>ShortTitle</th>
                <td>{{ content_element.shortTitle }}</td>
            </tr>
            <tr>
                <th>Discription</th>
                <td>{{ content_element.discription }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ content_element.icon }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ content_element.color }}</td>
            </tr>
            <tr>
                <th>FormData</th>
                <td>{{ content_element.formData }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ content_element.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ content_element.created ? content_element.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ content_element.updated ? content_element.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('content_elements_index') }}">back to list</a>

    <a href="{{ path('content_elements_edit', {'id': content_element.id}) }}">edit</a>

    {{ include('content_elements/_delete_form.html.twig') }}
{% endblock %}
