{% extends 'base.html.twig' %}

{% block title %}ExportContentElement{% endblock %}

{% block body %}
    <h1>ExportContentElement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ export_content_element.id }}</td>
            </tr>
            <tr>
                <th>ExtensionName</th>
                <td>{{ export_content_element.extensionName }}</td>
            </tr>
            <tr>
                <th>VendorName</th>
                <td>{{ export_content_element.vendorName }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ export_content_element.icon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('export_content_element_index') }}">back to list</a>

    <a href="{{ path('export_content_element_edit', {'id': export_content_element.id}) }}">edit</a>

    {{ include('export_content_element/_delete_form.html.twig') }}
{% endblock %}
