{{ form_start(form, { 'attr': {'id': 'exportForm'} }) }}
<div class="card-body">
    {% include 'Block/Flash/_flash_message.html.twig'  %}


    {{ form_row(form._token) }}
    {% set formErrors = form.vars.errors.form.getErrors(true) %}
    {# If there are errors in the form, display them in this unorganized list #}
    {% if formErrors|length %}
        {% for error in formErrors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
    {% endif %}

    {% if Errors is defined and Errors is not null %}
        <div class="alert alert-danger">
        {% for error in Errors.error %}
            {{ error }} <br/>
        {% endfor %}
        </div>
    {% endif %}

    {% if unset is defined and unset is not null %}
        <div class="alert alert-danger">
                {{ unset }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-body">
                    <label for="icon">Icon </label>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ asset('dist/img/extension/extension.svg') }}" alt="#" width="50" height="50" class="img-fluid">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="extensionName">{{ form_label(form.extensionName) }} </label>
                        {{ form_widget(form.extensionName, { 'attr': {'class': 'form-control','value': 'tbs_content_elements'} }) }}
                    </div>

                    <div class="form-group">
                        <label for="vendorName">{{ form_label(form.vendorName) }} </label>
                        {{ form_widget(form.vendorName, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
          <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">BRETTINGHAMS Module *</h3>
                </div>
                <div class="card-body">
                    <p class="text-justify text-info">
                        Hinweis: Nur getestetes Modul konnte exportiert werden !
                    </p>
                    <div class="form-group">
                        <select class="duallistbox" multiple="multiple" name="tbsModule[]" id="export_content_element_tbsModule" >
                            {% for tbs in tbsContentElement %}
                                 <option value="{{ tbs.id }}">{{ tbs.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Custom Module *</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <select class="duallistboxCustom" multiple="multiple" >
                            {% for tbs in customContentElement %}
                                <option value="{{ tbs.id }}">{{ tbs.elementTitle }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-dark" ><i class="fa fa-save"></i> <i class="fa fa-list"></i> Generieren und exportieren</button>
</div>
{{ form_end(form, {'render_rest': false}) }}

