{% extends '@layout/layout-index.html.twig' %}
{% block title %}Export Content Element {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/toastr/toastr.min.js') }}" ></script>
    <script src="{{ asset('dist/js/module/export-content-element-index.js') }}" ></script>
{% endblock %}
{% block card %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-right">
            <h3 class="card-title">CE Export</h3>
            <a href="{{ path("export_content_element_new") }}" class="btn btn-outline-dark  ml-auto">
                <i class="fa fa-file-export"></i>
                Export
            </a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% include 'Block/Flash/_flash_message.html.twig'  %}

            <table id="table" class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Erstellt Am</th>
                    <th>Modules</th>
                    <th>Status</th>
                    <!--
                    <th>Herunterladen</th>
                    -->
                </tr>
                </thead>
                <tbody>
                {% for export_content_element in export_content_elements %}
                    <tr>
                        <td>{{ export_content_element.user.email }}</td>
                        <td>{{ export_content_element.Created|date('d-m-Y')}}</td>
                        <td>
                            <ul>
                        {% for module in tbsContentElement %}
                            {% if module.id in export_content_element.tbsModule %}
                             <li>
                                 <small>{{ module.title }}</small>
                             </li>
                            {% endif %}
                        {% endfor %}
                            </ul>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Generiert</span>
                        </td>
                        <!--<td>
                            <button class="btn btn-link downloadButton" data-id="{{ export_content_element.id }}" data-url="{{ path('regenerate_export') }}" ><i class="fa fa-download"></i> Herunterladen</button>
                        </td>-->
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">keine Datensätze gefunden</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

