{{ form_start(form) }}
<div class="card-body">
    {{ form_row(form._token) }}
    {% include 'Block/Flash/_flash_message.html.twig'  %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" >
                <label for="elementKey">{{ form_label(form.title) }} </label>
                {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label for="elementTitle">{{ form_label(form.description) }} </label>
                {{ form_widget(form.description, { 'attr': {'class': 'form-control '} }) }}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">{{ form_label(form.typo3Version) }}</label>
                {{ form_widget(form.typo3Version ) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" >
                <label for="link">{{ form_label(form.link) }} </label>
                {{ form_widget(form.link, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group">
                <label for="moduleImages">{{ form_label(form.moduleImages) }}</label>
                <div class="input-group">
                    <div class="custom-file">
                        {{ form_widget(form.moduleImages, { 'attr': {'id': 'moduleImages'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <button type="submit" class="btn btn-dark" ><i class="fa fa-save"></i> <i class="fa fa-list"></i> Speichern</button>
</div>
{{ form_end(form, {'render_rest': false}) }}

