<div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
            {% include 'Block/Flash/_flash_message.html.twig'  %}
        </div>

        {% if tbs_modules is empty %}
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-info"></i> Alert!</h5>
                Es gibt kein Modul
            </div>
        </div>
        {% else %}
        {% for tbs_module in tbs_modules %}

            <div class="col-md-4 ">
            <div class="card ">
                <div class="card-body">
                    <div class="align-items-center w-100">
                        <div class="d-flex justify-content-between  pb-2">
                            <h3 class="card-title">
                                <img class="ter-ext-icon"  src="{{ asset('dist/img/extension/extension.svg') }}" height="20" width="20">
                                <a href="{{ path('tbs_module_show', {'id': tbs_module.id}) }}" class="ml-2">{{ tbs_module.title }}</a>
                            </h3>
                        </div>
                        <div class="item">
                            <p>
                            {% if tbs_module.description|length > 155%}
                                {{ tbs_module.description|raw|slice(0,155) }} ...
                            {% else %}
                                {{ tbs_module.description }}
                            {% endif %}
                            </p>
                        </div>
                        <hr>
                        {% include 'Dashboard/Content Elements/Brettinghams/Card/_typo3_version.html.twig'%}
                    </div>
                </div>
                {% include 'Dashboard/Content Elements/Brettinghams/Card/_button.html.twig'%}
             </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {{ knp_pagination_render(tbs_modules, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
</div>