{% extends '@layout/layout-index.html.twig' %}
{% block title %}Brettinghams Module{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/ekko-lightbox/ekko-lightbox.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/ekko-lightbox/ekko-lightbox.min.js') }}"></script>
    <script src="{{ asset('plugins/bs-custom-file-input/bs-custom-file-input.min.js') }}"></script>
    <script src="{{ asset('dist/js/module/tbs-content-element.js') }}"></script>
{% endblock %}
{% block card %}
    <div class="callout callout-info">
        <h5><i class="fas fa-info"></i> Hinweis:</h5>
        Vor dem Einf체gen des Tbs Content-Elements ! Modul-Code sollte eingef체gt werden! (Bearbeitung nur f체r SUPERADMIN sichtbar!)
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-right">
            <h3 class="card-title">Brettinghams Module</h3>
            <a href="{{ path("tbs_module_new") }}" class="btn btn-outline-dark  ml-auto">
                <i class="fa fa-plus"></i>
                Module
            </a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% include 'Block/Flash/_flash_message.html.twig'  %}
            <table id="table" class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Bild</th>
                    <th>Erstellt</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for tbs_module in tbs_modules %}
                    <tr>
                        <td><a href="{{ path('tbs_module_show', {'id': tbs_module.id}) }}"><i class="fa fa-info"></i> {{ tbs_module.title }}</a></td>
                        <td>
                            <a href="{{ asset('uploads/images/' ~ tbs_module.previewImageFileName) }}" data-toggle="lightbox" data-title="{{ tbs_module.title }}" data-gallery="gallery">
                                <img width="400" height="400" src="{{ asset('uploads/images/' ~ tbs_module.previewImageFileName) }}"  class="img-fluid " alt="{{ tbs_module.title }}" />
                            </a>
                        </td>
                        <td>{{ tbs_module.created ? tbs_module.created|date('d-m-Y') : '' }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-flat">Aktionen</button>
                                <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {{ include('Dashboard/Content Elements/Brettinghams/_delete_form.html.twig') }}
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('tbs_module_show', {'id': tbs_module.id}) }}">Anzeigen</a>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                     <a class="dropdown-item" href="{{ path('tbs_module_edit', {'id': tbs_module.id}) }}">Bearbeiten</a>
                                    {% endif %}
                                </div>
                            </div>
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">keine Datens채tze gefunden</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

