{% extends 'base.html.twig' %}
{% block title %}{{ tbs_module.title }}{% endblock %}


{% block content %}
    <div class="content-wrapper">
        {% include 'Partial/Breadcrumb/_breadcrumb.htnl.twig' with {'breadcrumb': 'Tbs Module'} %}
        <div class="content">
            <div class="container-fluid">
                <div class="card border-0 card-widget">
                    <div class="card-header d-flex justify-content-between align-items-right">
                        <h3 class="card-title">Brettinghams Module</h3>
                        <a href="{{ path("tbs_module_index") }}" class="btn btn-outline-dark  ml-auto">
                            <i class="fa fa-arrow-left"></i>
                            Züruck
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">Title</dt>
                                    <dd class="col-sm-8">{{ tbs_module.title }}</dd>
                                    {% if tbs_module.description is not empty %}
                                        <dt class="col-sm-4">Beschreibung</dt>
                                        <dd class="col-sm-8">{{ tbs_module.description|nl2br }}</dd>
                                    {% endif %}
                                    <dt class="col-sm-4"></dt>
                                    <dd class="col-sm-8 " style="background-color: #eee8d5;border-radius: 5px">
                                        {% include 'Dashboard/Content Elements/Brettinghams/Card/_typo3_version.html.twig'%}
                                    </dd>
                                    {% if tbs_module.link is not empty %}
                                        <dt class="col-sm-4">Link</dt>
                                        <dd class="col-sm-8"><a href="{{ tbs_module.link }}" >{{ tbs_module.link }}</a>
                                    {% endif %}
                                    <dt class="col-sm-4">Icon</dt>
                                    <dd class="col-sm-8"><img width="50" height="50" src="{{ asset('dist/img/extension/extension.svg') }}" >
                                    </dd>
                                </dl>
                            </div>
                            {% if images is not empty %}
                                <div class="col col-md-12">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color: #000;"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color: #000;"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2" style="background-color: #000;"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        {% for image in images %}
                                            <div  {% if loop.first  %} class="carousel-item active" {% else %} class="carousel-item " {% endif %}>
                                                <img class="d-block w-100" src="{{ asset('uploads/images/' ~ image.imageName) }}" >
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                       <span class="carousel-control-custom-icon" aria-hidden="true">
                                       <i class="fas fa-chevron-left" style="color: black"></i>
                                       </span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                       <span class="carousel-control-custom-icon" aria-hidden="true">
                                       <i class="fas fa-chevron-right" style="color: black"></i>
                                       </span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
